h1.logo-heading {   margin-bottom: -5%;
                margin-top: 2%;
                margin-left: -5%;
                font-family: sans-serif;
                font-weight: 100;
                font-style: italic;}

p.tilted-small-text {   margin-top: -4%;
                margin-left: -5%;
                font-family: sans-serif;
                font-weight: 400;
                font-style: italic;
                font-size: 80%; }

hr.header-divider { height: 1px;
                    background-color: darkslategray;
                    margin-top: -1%; }

div.header-pulled-nw {  margin-left: -1%;
                        margin-top: -0.5%; }

div.row.first { height: 50px;}
div.row.third { height: 180px;}

p.heading-new-note { font-family: sans-serif;
                font-weight: 200;
                font-size: 110%;
                margin-left: -3%;}

.form-control { width: 100%; }

button.btn-with-gradient { background-image: linear-gradient(darkslategrey,black);
                            border-radius: 5px;
                           }margin: auto;