h2.logo-heading {   margin-bottom: -5%;
                margin-top: 2%;
                margin-left: -5%;
                font-family: sans-serif;
                font-weight: 85;
                font-style: italic;}

p.tilted-small-text {   margin-top: -4%;
                margin-left: -5%;
                font-family: sans-serif;
                font-weight: 400;
                font-style: italic;
                font-size: 80%; }

hr.header-divider { height: 1px;
                    background-color: darkslategray;
                    margin-top: -1%; }

div.header-pulled-nw {  margin-left: -1%;
                        margin-top: -0.5%; }

div.row.first { height: 50px;}
div.row.third { height: 180px;}

p.heading-new-note { font-family: sans-serif;
                font-weight: 200;
                font-size: 130%;
                margin-left: -3%;}

.form-control { width: 100%; }

button.btn-with-gradient { background-image: linear-gradient(darkslategrey,black);
                            border-radius: 5px;
                           }

.fully-right { margin-right: 100%; }

.table-condensed { font-size: 0.83rem; }

.sub-row { margin-left: -20%;
            margin-top: 0%;
            margin-right: 20%;
            margin-bottom: 2%; }

.centered { text-align: center; }